// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

// Style Variables
$primary-color: #1d72f2;
$secondary-color: #1c9cf6;
$roboto: "Roboto", sans-serif;
$blue-3: #19c3fb;
$grey: #181818;
$yellow: #ffbc00;
$yellow-secondary: #fffae0;

// Screen Width Variables
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
